main {
    padding: 40px 0;
    gap: 40px;
    display: grid;
    place-content: center;
    overflow: hidden;
  }
  
  section {
    display: flex;
    width: 100%;
  }
  
  .content {
    display: grid;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    background: #fff;
    width: min(95vw, 800px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .content__sliders {
    gap: 12px;
    width: 100%;
    display: grid;
    transition: 0.5s ease-out;
    grid-template-columns: repeat(4, 100%)
  }
  
  .content__sliders--slider {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }